<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>v-if指令</title>
</head>

<body>
    <div id="app">
        <button @click="toggleIsShow()">切换显示</button>

        <!-- v-if通过移除dom元素实现隐藏效果 -->
        <p v-if="isShow">eizo</p>

        <!-- v-show使用样式隐藏dom元素，建议需要频繁切换时使用 -->
        <p v-show="isShow">eizo-v-show</p>

        <h2 v-if="temperature>=35">热死了</h2>
    </div>

    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var app = new Vue({
            el: "#app",
            data: {
                isShow: false,
                temperature: 40
            },
            methods: {
                toggleIsShow: function () {
                    this.isShow = !this.isShow;
                }
            }
        })
    </script>
</body>

</html>